# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log

# Terraform Variables
*.tfvars
!terraform/**/*.example.tfvars

# Kubernetes
*.kubeconfig

# Helm
*.tgz

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Environment Variables
.env

# Python
__pycache__/

# Node
node_modules/