# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Logs
*.log

# Environment
.env

# Kubernetes
kubeconfig

# Misc
*.bak